.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 80%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 45%
    width: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 10%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 
 
.bg1
  background-color: #DFDFB7
.bg2
  background-color: #F3EAE5
.bg3
  background-color: #873803
  border-radius: 20px
.bg4
  background-color: #ffff
.bg5
  background-color: #F3EAE5
.bg6
  background-color: #F9F9F1
.bg7
  background-color: #E7EEEF
.bg8
  background-color: #E7FCE2
.bg9
  background-color: #135966
.bg10
  background-color: #35602D
.bg11
  background-color: #F3F9FF
.bg12
  background-color: #512101
.izq
  margin-left: -0.7rem !important
.izq2
  margin-left: 0.7rem !important
.text-izq
  text-align: left !important
.cajon.color-primario 
  background-color: #E7EEEF
.cajon.color-secundario
  background-color: #E7FCE2
.titulo-segundo:after 
  border-left-color: #873803
.w-card-icon
  width: min-content
  z-index: 1
  align-self: flex-start
  transform: translateY(-4px)
.w-card-text
  position: relative
  padding-left: 40px
  padding-right: 50px
  left: -30px
  top: 8px
.acordion__accion__btn--a 
  background-color: #FFFBDF !important
.acordion .tarjeta--azul
  background-color: #DFDFB7 !important
  h3, 
    color: #12263F 
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #FFFBDF !important
  h3, 
    color: #12263F 
.normal
  color: #12263F 

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #FFEA5E
  border: 1px solid #FFEA5E
.slyder-a__bullets__item--active 
  background-color: #873803 !important
  border-color: #873803
.slyder-a__bullets__item 
  background-color: #DFDFB7
  width: 12px
  height: 12px
  margin: 0 7px
.slyder__btn 
  background-color: #FFEA5E
.tarjeta--boton 
  background-color: #F9F9F1

.tarjeta--boton.color-primario:active,
.tarjeta--boton.color-primario:focus,
.tarjeta--boton.color-primario:hover 
  background-color: #FFFBDF
  h4, p 
    color: #12263F 

.linea-tiempo-e:before 
  left: 15%
.linea-tiempo-e__item__header 
  width: 15%
  
.fondot3
  background-image: url('../assets/curso/Tema3/fondot3.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondosly
  background-image: url('../assets/curso/Tema3/fondosly.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
